
.small-direction-image {
  width:32px;
  height: 32px;
}

.filename{
  margin-right:8px;
  color:blue;
  width:80%;
}
.filesize {
  vertical-align:bottom;
  text-align: right;
  font-size:small;
}
.bk {
  background-color:#eeeeee;
}
.bk_dark {
  background-color:black;
}

.list-item {
  border-bottom-width:1px!important;
  border-color:silver;
  border-bottom-style:solid;
}
.withnote
{
	background-color:#D9F9C6;
}
.turn {
  text-align: center;
  height: 128px;
  width: 128px;
}
.compass {
  text-align: center;
  height:64px;
}
.center {
  width:100%;
  text-align: center;
}
.center_dark {
  width:100%;
  text-align: center;
  color: white;
  opacity:0.6;
}
.map {
  width: 100%;
  height: 100%;
  text-align: center;
  border: solid 1px;
  border-color:gray;
  border-radius:3px;
}
.map_dark {
  width: 99%;
  height: 99%;
  text-align: center;
  color: white;
  opacity:0.6;
  border: solid 1px;
  border-color:gray;
  border-radius:3px;
}
.compass-distance{
  text-align:center;
  font-size:xx-large;
}
.compass-header {
  text-align:right;
  background-color:silver;
  width:90%;
}
.label {
	color: #1879CD;
	font-size: 18px;
	text-transform: uppercase;
}
.popup {
	text-align: center;
}
.menu {
    width: 80% !important;
    max-height: 80% !important;
}